
.anime {
  overflow: hidden;
  height: 100%;
}

$total: 240;
$time: 7;
$height: 1%;
$percent: .69444%;
$dotSize: .8;
.wrap {
  position: relative;
  height: 1px;
  width: 100%;
}

.c {
  position: relative;
  height: $height+px;
  width: $percent;
  margin-top: -$height+px;
  animation: drop $time+s infinite ease-in;
  opacity: 0.2%;

  &:after {
    content: "";
    position: absolute;
    width: $dotSize+vw;
    height: $dotSize+vw;
    border-radius: 50%;
    left: 50%;
    bottom: -($dotSize/2)+vw;
    margin-left: -($dotSize/2)+vw;
  }
}

@for $i from 1 through $total {
  $hue: (300/$total) * $i;
  .c:nth-child(#{$i}) {
    left: ($i - 1) * $percent;
    background-image: linear-gradient(to bottom, #e800ff, hsla($hue, 100%, 50%, .2));
    animation-delay: random($total) * ($time/$total) * -1s;

    &:after {
      background: hsla($hue, 100%, 50%, 1);
    }
  }
}

@keyframes drop {
  80% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 330px, 0);
    opacity: 0;
  }
}
